test_routes.csv
Test_delta_flights.csv
copy_paste_space.py
routes_map.png
routes_planes_coordinates_for_mapping.csv
routes_planes_coordinates.csv
original_data/21503323_T_T100_SEGMENT_ALL_CARRIER.csv
route_maps_builder.ipynb
test_dl_routes.csv
dl_clt_routes.csv
test_folium_map.html
routes_planes_coordinates_for_mapping_2018.csv
copy_paste_space_2.py
routes_planes_coordinates_for_mapping_v2.csv
dl_a330_flights_from_atl_and_msp.csv
cartopy_maps/delta_2018_a330_routes_world_map.png
cartopy_maps/delta_2018_routes_us_map.png
cartopy_maps/delta_2018_routes_world_map.png
cartopy_maps/DL_A330_ATL_MSP_routes_2018.png
original_data/621587766_T_T100_SEGMENT_ALL_CARRIER.csv
routes_planes_coordinates_for_mapping_1999.csv
cartopy_route_map_builder_copy.ipynb
cartopy_route_map_builder.ipynb
